/* Global Variables */
html { scroll-behavior: smooth; }

:root
{
    box-sizing: border-box;
    --primaryBlack: #1e1110;
    --secondaryBlack: #495052;
    --primary: #e7a2a3; 
    --textWhite: #ffffff;
    --primaryDark: #380d0e;
} 

/* Using all of the space on body */
body 
{ 
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    transition: 0.5s ease-in;
}

.darkMode
{ 
    background-color: var(--primaryBlack); 
    color: var(--textWhite);
}

.darkMode div { color: var(--textWhite); }

/* Default scrollbar ugly, so we custom that bitch */
body::-webkit-scrollbar { width: 0.25rem; }
body::-webkit-scrollbar-track 
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    border-radius: 10px;  
    background: var(--primary); 
}
body::-webkit-scrollbar-thumb { background: var(--primary); }

/* Small Screens */ 
@media only screen and (max-width:1140px) 
{
    /* Grid for page layout */
    .container
    {
        grid-template:
        'head'
        'cont'
        'side'
        ;
    }

    .navbar
    {
        /* All it needed was to become a sub */
        bottom: 0;
        /* viewheight scales with the viewport, so 100vw always fills left to right of screen */
        width: 100vw;
        height: 3rem;
    }
    
    .logo { display: none; }

    .navcontainer { flex-direction: row; }

}

/* Big Screens */ 
@media only screen and (min-width:1140px) 
{
    /* Grid for page layout */
    .container
    {
        grid-template:
        'side head col'
        'side cont col';
    }

    /* Navbar toggle class for when closed */
    .navbar
    {
        /* viewheight scales with the viewport, so 100vh always fills the screen top to bottom */
        height: 100vh;
        width: 5rem;
        transition: 600ms ease;
        margin-right: 2rem;
    }
    
    /* Navbar toggle class for when it opens */
    
    /* Push it out! */
    .navbarExtended { width: 15rem; }
    
    /* Reveal all the link text */
    .navbarExtended .linktext { display: block; }
    
    .navbarExtended .logo > .navlink
    { 
        color: var(--textWhite); 
        filter: grayscale(0%);
    }
    
    /* Arrow spinning */
    .navbarExtended .logo svg
    { 
        transform: rotate(-540deg);
        color: var(--primary);
    }

    .darkMode .logo svg
    { color: var(--primary); }
    
    .logo
    {
        background-color: var(--primaryBlack);
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
        letter-spacing: 00.25rem;
        font-weight: bold;
        transition: background-color 0.5s ease;
    }

    .darkMode .logo { background-color: var(--secondaryBlack); }

    .logo svg { transition: transform 600ms ease; }

    .navcontainer { flex-direction: column; }
    
    /* The last list item will be sent to bottom of screen */
    .navitem:last-child { margin-top: auto; }
}

.container 
{ 
    display: grid; 
    justify-content: center;
}

#headerContainer
{
    grid-area: head;
    display: flex;
    justify-content: center;
}

#chapterHead
{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

#content
{
    padding: 0rem 1rem 5rem;
    color: var(--primaryBlack); 
    grid-area: cont;
}

/* Hide all content on load, so we can manipulate using javascript */
#content > div { display: none; }

/* Restricts text to 80 characters across so it's not hard for eyes to scan on a wide monitor */
div[id^=ch] 
{ 
    max-width: 90ch; 
    font-size: 1.1rem;
}

/* Fixed navigation sidebar that stays where it is on the screen no matter how far you scroll */
#navbar
{
    grid-area: side;
    position: fixed;
    background-color: var(--secondaryBlack);
    /* For when width increases - Expanded sidebar */
    transition: width 200ms ease;
    transition: background-color 0.5s ease;
    overflow: auto;
}

.darkMode #navbar { background-color: var(--primaryDark); }

#extraCol { width: 2rem; }

/* Flexbox inside the navbar to put items wherever we need to */
.navcontainer
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.navitem { 
    width: 100%; 
    font-size: 1.2rem;
}

.navlink
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    text-decoration: none;
    color: var(--primary);
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms ease;
}

.navlink svg
{ 
    min-width: 1.5rem;     
    max-width: 2rem;
}

.navlink:hover { filter: grayscale(0%) opacity(1); }

.linktext
{ 
    display: none; 
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}       