/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Variables */
:root
{
    font-size: 16px;
    box-sizing: border-box;
    --primaryBlack: #1e1110;
    --secondaryBlack: #495052;
    --secondary: #e7a2a3;
    --primary: #e7d052; 
    --textWhite: #ffffff;
} 

/* Using all of the space on body */
body 
{ 
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

h1 { font-family: 'Roboto', sans-serif; }

/* Default scrollbar ugly, so we custom that bitch */
body::-webkit-scrollbar { width: 0.25rem; }
body::-webkit-scrollbar-track 
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    border-radius: 10px;  
    background: var(--primary); 
}
body::-webkit-scrollbar-thumb { background: var(--secondary); }

/* Small Screens */ 
@media only screen and (max-width:600px) 
{
    /* Grid for page layout */
    .container
    {
        grid-template:
        'head head head'
        'cont cont cont'
        'side side side'
        ;
    }

    .sidebar
    {
        /* All it needed was to become a sub */
        bottom: 0;
        /* viewheight scales with the viewport, so 100vw always fills left to right of screen */
        width: 100vw;
        height: 5rem;
    }
    
    .logo
    { display: none; }

    .navcontainer
    { flex-direction: row; }

}

/* Big Screens */ 
@media only screen and (min-width:600px) 
{
    /* Grid for page layout */
    .container
    {
        grid-template:
        'side head head head'
        'side cont cont cont';
    }    

    #chapterHead
    { margin-left: 5rem; }

    #content
    { margin-left: 5rem; }

    /* Navbar toggle class for when closed */
    .sidebar
    {
        /* viewheight scales with the viewport, so 100vh always fills the screen top to bottom */
        height: 100vh;
        width: 5rem;
    }
    
    /* Navbar toggle class for when it opens */
    
    /* Push it out! */
    .sidebarExtended
    { width: 15rem; }
    
    /* Reveal all the link text */
    .sidebarExtended .linktext { display: block; }
    
    .sidebarExtended .logo > .navlink
    { 
        color: var(--textWhite); 
        filter: grayscale(0%);
    }
    
    /* Arrow spinning */
    .sidebarExtended .logo svg
    { 
        transform: rotate(-540deg);
        color: var(--secondary);
    }
    
    .logo
    {
        background-color: var(--primaryBlack);
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
        letter-spacing: 00.25rem;
        font-weight: bold;
    }

    .logo svg
    { transition: transform 600ms ease; }

    .navcontainer
    { flex-direction: column; }
    
    /* The last list item will be sent to bottom of screen */
    .navitem:last-child { margin-top: auto; }
}

.container
{ 
    display: grid; 
    justify-content: stretch;
}

#chapterHead
{ 
    padding: 0rem 1rem 0rem;
    font-size: 3rem;
    grid-area: head; 
}

#content
{
    padding: 0rem 1rem 5rem;
    color: var(--primaryBlack); 
    grid-area: cont;
}

/* Hide all content on load, so we can manipulate using javascript */
#content > div { display: none; }

/* Fixed navigation sidebar that stays where it is on the screen no matter how far you scroll */
#sidebar
{
    grid-area: side;
    position: fixed;
    background-color: var(--secondaryBlack);
    /* For when width increases - Expanded sidebar */
    transition: width 200ms ease;
}

/* Flexbox inside the navbar to put items wherever we need to */
.navcontainer
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.navitem 
{ width: 100%; }

.navlink
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    text-decoration: none;
    color: var(--secondary);
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms ease;
}

.navlink svg
{ 
    min-width: 1.5rem;     
    max-width: 2rem;
}

.navlink:hover { filter: grayscale(0%) opacity(1); }

.linktext
{ 
    display: none; 
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
}       

#content > .titleScreenWrapper
{
    display: grid;
    grid-template: auto;
}

#storyTitle
{
    font-size: 4rem;
    letter-spacing: 0.2rem;
}

#storySubtTitle
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}